
code {
  font-family: "Inter", monospace;
}

html {
  height: 100%;
  font-family: "Inter";
}

.chatBubble .css-accessibilityImage-9pa8cd {
  inset: 0px;
  height: 100%;
  opacity: 1;
  position: relative;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}
